#projects{
  width: 1300px;
  margin: 0 auto;
  height: 800px;
  background-color: #C1E7ED;
  border-radius: 15px;
  article{
    border: 1px solid blue;
    background: #1c699d;
    margin: 30px;
  }
}