body {
  background-color: #F8EAC6;
  box-sizing: border-box;
  .body-container {
    padding-top: 20px;
    section {
      width: 1250px;
      max-width: 98%;
      margin: 0 auto;
      height: auto;
      background-color: #F5D09E;
      border-radius: 15px;
      .row {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}

::-webkit-scrollbar{
  background: #F5D09E;
  width: 0;
}

.message{
  text-align: center;
}

#projects {
  article {
    background-color: #FFAA5F;
    margin: 40px 30px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 3px #953C26;
    .article-content {
      text-align: center;
      height: 100%;
      a {
        color: #953C26;
        background: none;
        font-size: 42px;
        width: 100%;
        height: 100%;
        line-height: 180px;
        border: none;
      }
    }
  }
  article:hover {
    opacity: 0.6;
    transition: opacity 0.2s linear 0s;
  }
}

#tasks {
  height: auto;
  background-color: #F8EAC6;
  .task-column {
    height: 780px;
    margin: 15px 12px;
    border-radius: 5px;
    background-color: #F5D09E;
    box-shadow: 0 0 5px 1px grey;
    .task-column-header {
      background: #953C26;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      h3 {
        color: white;
        text-align: center;
        padding: 7px;
        letter-spacing: 1px;
      }
    }
    .task-column-body {
      height: 735px;
      overflow: auto;
      .task {
        height: auto;
        background: #E08E5F;
        margin: 10px 15px;
        border-radius: 3px;
        box-shadow: 0 0 5px 1px grey;
        box-sizing: border-box;
        padding: 10px;
        h3 {
          text-align: center;
          font-weight: bold;
          font-size: 22px;
          padding-bottom: 5px;
        }
      }
    }
  }
}