<main>
    <div class="body-container">
        <section id="tasks">
            <div class="row">
                <div class="col-md-4">
                    <div class="task-column">
                        <div class="task-column-header">
                            <h3>TODO</h3>
                        </div>
                        <div class="task-column-body">
                            <!--   Test   -->
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <!--   Test   -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="task-column">
                        <div class="task-column-header">
                            <h3>In Process</h3>
                        </div>
                        <div class="task-column-body">
                            <!--   Test   -->
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <!--   Test   -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="task-column">
                        <div class="task-column-header">
                            <h3>Finished</h3>
                        </div>
                        <div class="task-column-body">
                            <!--   Test   -->
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <div class="task">

                            </div>
                            <!--   Test   -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>